<ion-view view-title="{{home}}">

    <ion-content>
        <div class="list card"><!-- Leonardo Fibonacci -->
            <div class="item item-avatar">
                <img src="img/leonardo-fibonacci.jpg">
                <h2><b>Leonardo Fibonacci</b></h2>
                <p>1170 - 1250</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/leonardo-fibonacci.jpg">
                <p>Leonardo Fibonacci foi o escritor do famoso livro 'Abaci' e um grande matématico da idade média.</p>
                <p><a href="#/menu/sobre" class="subdued">Ler mais</a></p>
            </div>
        </div>

        <div class="list card"><!-- Cálculo Fibonacci -->
            <div class="item item-avatar">
                <img src="img/logo-calc-fibonacci.png">
                <h2><b>Cálculo de Fibonacci</b></h2>
                <p>Sequência / série de Fibonacci</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/explicacao-fibonacci.jpg">
                <p>A Sequência de Fibonacci consiste em uma sucessão de números para obter uma sequência de números.</p>
                <p>
                    <a href="#/menu/sobre" class="subdued">Ler mais</a>
                    <a href="#/menu/calculo" class="subdued">Calcular</a>
                </p>
            </div>
        </div>

        <div class="list card"><!-- Informações -->
            <div class="item item-avatar">
                <img src="img/info.png">
                <h2><b>Informações</b></h2>
                <p>Informações e referências</p>
            </div>
            <div class="item item-body">
                <p>Informações de como foi constrúida a aplicação e referências utilizadas na consulta de conteúdo.</p>
                <p><a href="#/menu/info" class="subdued">Ler mais</a></p>
            </div>
        </div>
    </ion-content>

</ion-view>
