<ion-view view-title="{{info}}">

    <ion-content>
        <div class="card">
            <div class="list">
                <div class="item item-divider">
                    <b>Referências</b>
                </div>
                <a class="item" href="http://pt.wikihow.com/Calcular-a-Sequência-de-Fibonacci">Wikihow</a>
                <a class="item" href="http://www.infoescola.com/matematica/sequencia-de-fibonacci/">Info Escola</a>
                <a class="item" href="http://mundoeducacao.bol.uol.com.br/matematica/sequencia-fibonacci.htm">Mundo Educação</a>
                <a class="item" href="http://www.e-biografias.net/leonardo_fibonacci/">E-biografias</a>
                <a class="item" href="https://pt.wikipedia.org/wiki/Leonardo_Fibonacci#A_Sequ.C3.AAncia_de_Fibonacci">Wikipedia</a>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                <b>Ferramentas e linguagens</b>
            </div>
            <ul class="list">
                <li class="item">HTML5</li>
                <li class="item">CSS3</li>
                <li class="item">JavaScript</li>
                <li class="item">Ionic</li>
                <li class="item">AngularJS</li>
            </ul>
        </div>
        <div class="card">
            <div class="item item-divider">
                <b>Desenvolvido por</b>
            </div>
            <div class="item item-text-wrap">
                <p><a href="http://matheusmpessoa.github.io/#/"><i class="ion-social-github"></i> Matheus Pessoa</a></p>
            </div>
        </div>
    </ion-content>

</ion-view>
