<ion-side-menus enable-menu-with-back-views="true">

    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-clear button-icon light ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Menu</h1>
        </ion-header-bar>

        <ion-content>
            <ion-list>
                <ion-item href="#/menu/home" menu-close><i class="icon ion-home"></i> <span ng-bind="home"></span></ion-item>
                <ion-item href="#/menu/calculo" menu-close><i class="icon ion-calculator"></i> <span ng-bind="calculo"></span></ion-item>
                <ion-item href="#/menu/sobre" menu-close><i class="icon ion-home"></i> <span ng-bind="sobre"></span></ion-item>
                <ion-item href="#/menu/info" menu-close><i class="icon ion-information-circled"></i> <span ng-bind="info"></span></ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
