<ion-view view-title="{{sobre}}">

    <ion-content>
        <div class="card">
            <div class="item item-divider">
                <h2>Leonardo Fibonacci</h2>
            </div>
            <div class="item item-text-wrap">
                <p>Leonardo Fibonacci, também conhecido como Leonardo de Pisa, Leonardo Pisano ou ainda Leonardo Bigollo(1170 — 1250) foi um matemático italiano, de grande influência na idade média.</p>
                <br>
                <p>Muitos consideram Fibonacci como o maior matemático da idade média. Introduziu os algarismos arábicos na Europa e descobriu a sequência de Fibonacci.</p>
                <br>
                <p>Leonardo Fibonacci foi filho de Guglielmo dei Bonacci, um grande mercador de grande influência no comércio do Mediterrâneo.</p><p>Atrávés das atividades de comércio alfandegário, Fibonacci tomou contato com a matemática hindu e árabe, praticada no comércio oriental.</p>
                <br>
                <p>Sob a proteção do imperador Frederico II, e por ter resolvido problemas matemáticos da corte, Fibonacci aprofundou seus estudos sobre matemática, avaliando que os algarismos arábicos seriam mais eficientes que os números romanos para cálculos aritméticos.</p>
                <br>
                <p>Leonardo foi escritor do livro "Liber Abaci" (Livro do Ábaco ou Livro de Cálculo), responsável pela disseminação dos números hindu-arábicos na Europa.</p>
                <br>
                <p>Por prestar grandes serviços a cidade de Pisa, o matemático possui uma estátua em sua homenagem, localizada na galeria ocidental do Camposanto.</p>
                <img class="full-image" src="img/leonardo-fibonacci.jpg">
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                <h2>Cálculo de Fibonacci</h2>
            </div>
            <div class="item item-text-wrap">
                <p>A sequência de Fibonacci é resolvida na prática como uma sequência de números, onde o número 1 é o primeiro e segundo termo da ordem e os demais são originados pela soma de seus antecessores.</p>
                <p>Exemplo: 1+1=2, 2+1=3, 3+2=5 e assim por diante.</p>
                <img class="full-image" src="img/explicacao-fibonacci.jpg">
            </div>
        </div>
    </ion-content>

</ion-view>
